<!doctype html>
<html ng-app="PizzaApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body ng-controller="PizzaCtrl">

<div style="width:700px;margin:-50px 0 0 -350px;position:absolute;top:15%;left:40%">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            Pizza 101 Take Away Menu
            <div>
                <input type="text" class="form-control" placeholder="Search" ng-model="search.query">
            </div>
        </div>

        <div class="panel panel-content">
            <table class="table table-striped">
                <tr ng-repeat="pizza in pizzas" ng-class="getMatchingClass(pizza)">
                    <td>{{pizza.name}}</td>
                    <td>{{pizza.ingredients.join(', ')}}</td>
                    <td>{{pizza.price | currency}}</td>
                    <td><input type="checkbox" ng-model="pizza.isSelected"/></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="width:300px;margin:-50px 0 0 -150px;position:absolute;top:15%;left:70%">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            Order
        </div>
        <table class="table table-striped">

            <tr class="panel panel-content" ng-repeat="pizza in pizzas | filter:{isSelected:true}">
                <td>{{pizza.name}}</td>
                <td>{{pizza.price | currency}}</td>
            </tr>
        </table>
        <div class="panel panel-footer">Total Sum: {{sum() | currency}}</div>
    </div>
</div>

<div style="width:300px;margin:-50px 0 0 -150px;position:absolute;top:50%;left:70%">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            Address
        </div>
        <form name="myForm">
                <label for="firstname">First Name: </label>
                <input type="text" id="firstname" ng-pattern="/\d\d" required>

            <p ng-show="myForm.$invalid">Last Name: <input type="text" name="first_name"></p>

            <p>Phone: <input type="text" name="first_name"></p>

            <p>Email: <input type="text" name="first_name"></p>

            <p>Address: <input type="text" name="first_name"></p>

            <p>City: <input type="text" name="first_name"></p>

            <p>State: <input type="text" name="first_name"></p>

            <p>Postal Code: <input type="text" name="first_name"></p>

            <p>Country: <input type="text" name="first_name"></p>


        </form>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
<script src="PizzaCtrl_version2.js"></script>
</body>
</html>
